.Title{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.menu{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'sp cb mp' 'sin spin veg';
}

#MP{
    grid-area: mp;
    text-align: center;
   
}

#SP{
    grid-area: sp;
    text-align: center;
   
}


#CB{
    grid-area: cb;
    text-align: center;
}

#sin{
    grid-area: sin;
    text-align: center;
}

#spinach{
    grid-area: spin;
    text-align: center;
}
#PacificVeggie{
grid-area: veg;    
text-align: center;
}

.red{
    background-color: red;
}
.white{
    background-color: white;
}
.green{
    background-color: green;
}